.image {
  background-image: url("background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.topnav {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
}

.link:first-child {
  margin-right: 5px;
}




.link {
  color: black;
  text-decoration: none;
  border: 1px black solid;
  padding: 5px;
  display: inline-block;
  width: 65px;
  text-align: center;
}

.link:hover {
  background-color: #0c4e48;
  color: white;


}
