h1 {
  color: red;
  text-align: center;
}

p {
  color: green;
  text-align: left;
}

body {background-color: #f1bb1b;}

nav {
  text-align: center;
  margin-bottom: 50px;
}

.image {text-align: center;}
